.edit_profile *{
    transition: all .3s;
}
.edit_profile form{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
    padding:25px;
    background-color: rgb(36,36,36);
    border-radius: 25px;
}
.edit_profile input{
    background-color: rgba(0,0,0,0);
    border: 1px solid white;
}
.edit_profile input::placeholder{
    color: rgb(77, 77, 77);
}
.edit_profile input:focus{
    box-shadow: 0px 0px 0px 0px;
    background-color: rgba(50,50,50,.5);
    border: 1px solid white;
}
.edit_profile .update{
    width: 100px;
    color: white;
    background-color: rgba(0,0,0,0);
    border: 1px solid white;
    padding:5px;
    border-radius: 10px;
}
.edit_profile .update_btn{
    grid-column: 1/3;
}